<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <h1>URL SHORTENER</h1>
    </header>
    <main>
        <div class="container">
            <h2>Please paste the URL to be shortened</h2>
            <form action="" method="post">
                <input type="text" placeholder="Enter the link here">
                <button type="submit" class="btn">Shorten URL</button>
            </form>
        </div>
        <div class="container shortened">
            <h2>Your shortened URL</h2>
            <div class="url-shortened">
                wdadw
            </div>
        </div>
    </main>
    <footer>
        Made by reon150
    </footer>
</body>
</html>