<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>URL SHORTENER</h1>
    </header>
    <main>
        <div class="container">
            <h2>Please paste the URL to be shortened</h2>
            <form method="POST" id="form" action="/getShortURL">
                <input type="text" name="url" id="url" placeholder="Enter the link here" required>
                <button type="button" id="buttonForm" class="btn">Shorten URL</button>
            </form>
        </div>
        <div class="container" id="shortenedDiv">
            <h2>Your shortened URL</h2>
            <div class="url-shortened-div">
                <a href="" id="url-shortened" style="color:red;"></a>
            </div>
        </div>
    </main>
    <footer>
        Made by reon150
    </footer>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>